
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
obj/[Bb]in
obj/[Bb]in/[Dd]ebug*/
obj/[Bb]in/[Rr]elease*/
HostfileManager/[Bb]in/[Dd]ebug*/
HostfileManager/[Bb]in/[Rr]elease*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*